@*@model IEnumerable<Warehouse.Models.WarehouseProduct>*@
@model Warehouse.Models.ViewModels.WarehouseProductHomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <div style="position:absolute;right:0px;/*background-color:red;*/width:50%;height:100px;">
        <label class="text">Storekeeper: </label>
        @Html.DropDownList("warehouse", Model.WarehouseInformationSelectList as SelectList,
        htmlAttributes: new { @class = "col-2" })
    </div>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Warehouse with numder of Product</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="WarehouseProduct" asp-action="Upsert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New numder of Product
            </a>
        </div>        
    </div>
</div>
<form method="get">
    <div class="row">
        <label class="text">Select warehouse: </label>
        @Html.DropDownList("warehouse", Model.WarehouseInformationSelectList as SelectList,
        htmlAttributes: new { @class = "col-6" })
        <div class="col-6 text-right">
            <input type="submit" value="Submit warehouse" class="btn-primary" />
        </div>
    </div>
</form>

<br />
<br />

@if (Model.WarehouseProducts.Count() > 0)
{

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Warehouse</th>
                <th>Product</th>
                <th> Product Application Type</th>
                <th> NumbProdInWarehouse</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.WarehouseProducts)
            {
                <tr>
                    <td width="20%">@obj.WarehouseInformation.Name</td>
                    <td width="20%">@obj.Product.Name</td>
                    <td width="20%">@obj.Product.ApplicationType.Name</td>
                    
                    <td width="15%">    
                      
                        <div class="input-group">                            
                            <button type="button" onclick="AddProductToBasket(@obj.Id, '-1')" data-id="@obj.Id" class="productIdButton">-</button>
                            <input type="submit" step="1" min="0" max="" value="@obj.NumbProdInWarehouse">
                            <button type="button" onclick="AddProductToBasket(@obj.Id, '1')" data-id="@obj.Id" class="productIdButton">+</button>                            
                        </div>                      

                    </td>                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p> No ProdInWarehouse exists.</p>
}




@section Scripts
{
    <script type="text/javascript">

        function AddProductToBasket(productid, changeNum) {
            try {
                $.ajax({
                    url: "Home/NumberItems",
                    type: "GET",
                    data: { warehouseProductId: productid,
                        changeNumber: changeNum
                    },
                    //success: function (oData) {
                    //    alert(oData);
                    //},
                    success: function (oData) {
                        location.reload(true);
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
            catch (e) {
                alert(e.message);
            }
        }
    </script>
}
